

.navbar-item{
    margin-left: 35px;
    margin-right: 35px;
}

.btn {
    margin: 3px;
}

.customBtn {
    width: 220px;
}

.strangerTitle {
    margin-left: 18px;
}

.container {
    margin-top: 10%;
    width: 50%;
}

.center {
    display: flex;
    justify-content: center;
}

input {
    margin: 5px;
    font-size: 20px;
}

.title {
    font-size: 55px;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
}